* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body, button {
  font-family: 'Merriweather Sans', sans-serif;
}

body h1, body h2, body a {
  font-family: 'Merriweather', serif;
}

/***************Header Styling***********************************************/
header {
  background-color: #216869;
  color: #ffffff;
  text-align: center;
  padding: 1em 0 0 0;
  width: 100%;
}

.main-menu {
  display: none;
}
/**************************************************************************/

/***************hamburger menu*****************/
.hamburger-menu {
  overflow: hidden;
  background-color: #216869;
  position: relative;
}

.hamburger-menu #hamburger-menu-links {
  display: none;
}

.hamburger-menu .active {
  background-color: #216869;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.25em;
  
}

.hamburger-menu a {
  color: #ffffff;
  padding: 1em;
  text-decoration: none;
  font-size: 1em;
  display: block;
  text-align: left;
}

.hamburger-menu a.icon {
  background: #216869;
  color: #ffffff;
  display: block;
  position: absolute;
  right: 0;
  top: 0.5em;
}

.hamburger-menu a:hover {
  background-color: #49A078;
  color: #ffffff;
}
/**************************************************************************/

/****************Main Styling*********************************************/
body {
  background-color: #E3DEE2;;
}

main {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin: 1em 0 1em 0;
}
/************************************************************************/


/***************Card Styling********************/
.card {
  background-color: #ffffff;
  margin: 2em auto;
  max-width: 85%; /*334px for orig size*/
  padding: 1em;
  box-shadow: 5px 5px 15px 5px #216869;
}

.card div {
  margin: 1em 0 1em 0;
}

.card-content {
  margin: 0 auto;
  font-size: 1.25em;
  padding-top: 1em;
}

button {
  cursor: pointer;
}

.card-buttons {
  display: flex;
  justify-content: center;
}

.btn-live, .btn-git {
  background-color: #49A078;
  color: #ffffff;
  /* padding: .5em 2em .5em 2em; */
  width: 100%;
  margin: 0 1em;
  padding: .5em 0;
  border-radius: 2em;
  border: none;
}

.btn-live:hover, .btn-git:hover {
  opacity: .85;
}
/**********************************************/

/*************************Tech Icon Styling*******************************/
.tech-icons {
  text-align: center;
  padding-top: 2em;
}

.tech-icon {
  display: block;
  margin: 0 auto;
  padding-bottom: 3.5em;
  width: 65%;
  max-width: 200px;
  filter: drop-shadow(.9em 1em 0.5em rgba(33, 104, 105, 0.8));
}
/************************************************************************/

/**********************Footer Styling*************************************/
footer {
  background-color: #216869;
  text-align: center;
  padding: 2em 1em;
  width: 100%;
}

.footer-info {
  display: none;
}

.social-icons {
  padding-top: 4em;
}

.social-icons img {
  display: inline-block;
  max-width: 75px;
  padding: 0 .75em;
}

.footer-btns {
  display: none;
}

.btn-contact, .btn-sub {
  border-radius: 2em;
  border: none;
}

.btn-contact:hover, .btn-sub:hover {
  opacity: .85;
}

.social-attribute {
  color: #ffffff;
  padding-top: 1em;
  font-size: .75em;
}

.social-attribute a {
  color: #ffffff;
  text-decoration: none;
}
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/


@supports (grid-area: auto) {
  @media screen and (min-width: 400px) {
    .hamburger-menu .active {
      font-size: 1.5em;
      
    }
    
    .hamburger-menu a.icon {
      top: 1em;
    }

    h2 {
      font-size: 2.5em;
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 700px) {
    .hamburger-menu {
      display: none;
    }

    h2 {
      font-size: 3.5em;
    }
  
    /***************Main Nav Styling*******************************************/
    .main-menu {
      display: flex;
      justify-content: center;
    }
  
    .main-menu a {
      color: #ffffff;
      text-decoration: none;
      margin: 0 1em 0 1em;
      padding: 1em;
      font-size: 1.5em;
      font-weight: bold;
    }

    .main-menu a:hover {
      transform: translateY(.5em);
    }
    /**************************************************************************/
 
    /******************Card-Wrapper Grid Layout Tablet************************/

    .card-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5em 1em;
    }

    article.card.pleasure-island {
      grid-column: 1/3;
      max-width: 92.5%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    article.card.pleasure-island .card-content {
      grid-row: 1;
      grid-column: 2/3;
      margin: 0em 2em 0 1em;
    }

    article.card.pleasure-island .card-buttons {
      grid-column: 2/3;
      grid-row: 2;     
    } 
    /************************************************************************/

    /*******************Tech Icons Grid Layout Tablet************************/
    .tech-icons {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    /************************************************************************/

    /**********************Footer Styling Table******************************/
    footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-content: center;
    }

    .footer-info {
      color: #ffffff;
      display: block;
      grid-column: 1/2;
    }

    .logo {
      grid-column: 3/4;
    }

    .footer-btns {
      display: block;
      grid-column: 5/6;
    }

    .social-icons {
      grid-column: 1/6;
    }

    .footer-btns button {
      background-color: #DACC3E;
      font-size: 1.25em;
      display: block;
      padding: .5em 1em;
      margin: 1em auto;
    }

    .footer-info h3 {
      font-size: 1.5em;
      text-align: left;
      padding: 0 0 1em 1em;
    }
    /************************************************************************/
  }

  @media screen and (min-width: 1100px) {
    /******************Card-Wrapper Grid Layout Desktop**********************/
    .card-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }

    article.card.pleasure-island {
      grid-column: 3/3;
      max-width: 85%;
      display: block;
    }

    article.card.pleasure-island .card-content {
      grid-row: 1;
      grid-column: 2/3;
      margin: 0;
    }
    /***********************************************************************/

    /*******************Tech Icons Grid Layout Tablet************************/
    .tech-icons {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .wordpress {
      grid-column: 2/3;
    }

    .php {
      grid-column: 3/4;
    }
    /************************************************************************/
  }
}

